.venv
.idea
__pycache__/
server/storage/*
*/.env

/deploy/docker/.env

/deploy/scripts/.env

/deploy/k8s/secret.yaml

/deploy/terraform/terraform.tfvars
/deploy/terraform/.terraform/
/deploy/terraform/.terraform.lock.hcl
/deploy/terraform/terraform.tfstate
/deploy/terraform/terraform.tfstate.backup

/deploy/helm/.env
/deploy/helm/chart/secret.yaml
/deploy/helm/chart/secret.testing.yaml
