SERVER_IP=127.0.0.1 # Server IP address
SERVER_PORT=9999 # Server port
BUFFER_SIZE=8192 # Buffer size
DEBUG=True # Debug mode (True or False)
AI_MODE=gpt # AI mode (gpt or ollama)
OPENAI_API_KEY=XXX # OpenAI API key
